<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %C{1}.%M - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data/logs/project/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep days -->
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5p %C{1}.%M - %m%n</pattern>
		</encoder>
	</appender>
	<!--<Logger name="org.springframework.boot" level="info" />-->
	<Logger name="io.obreca.paradisus" level="debug" />
<root level="debug">
	<appender-ref ref="console" />
	<!--<appender-ref ref="file" />-->
</root>
</configuration>